.content{
	font-family: 'Mukta', sans-serif;
	overflow-x: scroll;

}
#navlist_fil_HCI{
	font-size: 20px;
	position: relative;
	top: -3px;
}
.navlist li:nth-child(2){
	font-weight: bolder;
	text-shadow: 0.5px 0.5px 2px #769fcd;
}
#logo_all_name{
	font-size: 16px;
	position: relative;
	top: -4px;
	left: -70px;
}
.isContent{
	margin: 0 auto;
	overflow-y: scroll;
}
#header_HCI{
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
}
.tableauPlaceholder{
	margin-left: 25%;
}
