.header{
    text-align: center;
    padding-top: 35vh;
}
.header h2{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Galdeano', sans-serif;
    color: #A75D5D;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.header p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Figtree', sans-serif;
    font-style: italic;
    margin-top: 20px;
    color: #A75D5D;
    opacity: 0.8;
}

.basicBox, .swiggleBox, .checkBox {
    width: 130px;
    height: 65px;
    margin: 15px auto;
    color: #A75D5D;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
    line-height: 65px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  svg rect, svg path, svg polyline {
    fill: none;
    stroke: #A75D5D;
    stroke-width: 1;
  }
  
  .basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
    stroke: #A75D5D;
  }
  
  /* Basic Box */
  svg rect {
    stroke-dasharray: 400, 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
  }
  .basicBox:hover svg rect {
    stroke-width: 3;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 38;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
  }
  .basicBox{
      margin-top: 5vh;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }