.content{
	font-family: 'Mukta', sans-serif;
	overflow-x: scroll;

}
#navlist_fil_HCI{
	font-size: 20px;
	position: relative;
	top: -3px;
}
.navlist li:nth-child(1){
	font-weight: bolder;
	text-shadow: 0.5px 0.5px 2px #769fcd;
}
#logo_all_name{
	font-size: 16px;
	position: relative;
	top: -4px;
	left: -70px;
}
.isContent{
	margin: 0 auto;
	overflow-y: scroll;
}
#header_HCI{
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 30px;
	margin-top: 60px;
}
.isContent p{
	margin-left: 25%;
	margin-top: 100px;
	font-size: 20px;
	width: 50vw;
	background-color: rgba(94,118,162, 0.1);
	padding: 30px;
	color: black;
	border-radius: 5%;
}
.isContent a{
	text-decoration: underline;
}
