.content{
	font-family: 'Mukta', sans-serif;

}
#navlist_fil_HCI{
	font-size: 20px;
	position: relative;
	top: -3px;
}
.navlist li:nth-child(3){
	font-weight: bolder;
	text-shadow: 0.5px 0.5px 2px #769fcd;
}
#logo_all_name{
	font-size: 16px;
	position: relative;
	top: -4px;
	left: -70px;
}
.isContent{
	margin: 0 auto;
}
#header_HCI{
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
}

*, *::before, *::after {
  box-sizing: border-box;
}


span.title {
  margin: 0 auto;
  color: #BBB;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  text-align: center;
  display: block;
}

.basicBox, .swiggleBox, .checkBox {
  width: 130px;
  height: 65px;
  margin: 15px auto;
  color: #4274D3;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15rem;
  line-height: 65px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: #4274D3;
  stroke-width: 1;
}

.basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
  stroke: #4274D3;
}

/* Basic Box */
svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox{
	margin-top: 30vh;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.train{
	position: relative;
	width: 100%;
	bottom: 0;
	margin-top: 30vh;
}
#subway{
	width: 75%;
	z-index: 100000;
}
.trainMoving{
	transform: translateX(-80%);
	animation: train 10s linear infinite;
}

@keyframes train {
	0%{
		transform: translateX(-80%);
	}
	100%{
		transform: translateX(100%);
	}
}