.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Figtree', sans-serif;
}
.poem{
    width: 30vw;
    padding-left: 3vw;
    font-size: 17px;
    line-height: 30px;
    background-color: #f09a7d5a;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    overflow-y: auto;
}
.poem::-webkit-scrollbar {
  display: none;
}

.verse{
    margin-top: 40px;
}
.vis{
    width: 60vw;
    text-align: center;
    height: 92vh;
    overflow: hidden;
}
.vis_section{
    height: 92vh;
    text-align: left;
}
.vis_section .title{
    text-align: center;
    font-size: 35px;
    padding-bottom: 30px;
}
.vis_section .title p{
    font-weight: 300;
    font-size: 22px;
    font-style: italic;
}
.instruction{
    width: 40vw;
    font-size: 17px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 25px;
}
.special_ins{
    font-size: 25px;
    font-style: italic;
    padding-bottom: 10px;
}
#vis1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.explain{
  width: 45vw;
  margin-left: 100px;
  margin-top: 0px;
}
.explain p{
    font-size: 12px;
    text-align: left;
    line-height: 14px;
    opacity: 0.8;
}
.vis_section h3{
    text-align: center;
    padding-top: 10px;
}

.true_vis_section_4{
    display: flex;
    flex-direction: row;
}

.vis_button {
    background-color: #FFEDDB;
    font-weight: 600;
    border: 2px solid #A75D5D;
    color: #A75D5D;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .vis_button a {
    color: #A75D5D;
    text-decoration: none;
    font-size: 15px;
  }
  
  .vis_button:hover {
    background-color: #A75D5D;
    color: #fff !important;
    transform: scale(1.05);
  }
  #button1{
    margin-top: 40px;
    padding: 12px 30px;
  }

  .buttons{
    width: 58vw;
    position: absolute;
    bottom: 1vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

  }


  .footer{
    position: absolute;
    bottom: -3vh;
    left: 45%;
    font-size: 10px;
    opacity: 0.9;
    font-family: 'Figtree', sans-serif;
    color: #fff;
  }

  .countries{
    width: 300px;
    height: 230px;
    background-color: #e3b7a08f;
    padding: 20px;
    line-height: 30px;
    font-size: 15px;
    margin-top: 30px;
  }
  .countries p{
    font-size: 18px;
    font-weight: 500;
  }
.real_vis{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#vis7{
  text-align: center;
}
#title2{
  font-size: 25px;
  padding-top: 50px;
}
#title2 p{
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

#facts{
  width: 55vw;
  text-align: left;
  margin-left: 20px;
}
#facts li{
  list-style: square !important;
  margin-top: 10px;
}

.real_vis svg:hover{
  background-color: #a75d5d34;
  transition-duration: 1s;
}

.no-hover {
  pointer-events: none;
  background-color: none;
}


.real_vis svg:click{
  background-color: black;
  transition-duration: 1s;
}

#message-box, #message-box-2, #message-box-3, #message-box-4, #message-box-5{
  position: absolute;
  top: 45%;
  left: 30%;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}


.highlight {
  text-shadow: 1px 0px 1px #0000007f;
  transition: text-shadow 0.3s ease;
}

.placeholder{
  height: 30vh;
}

.correct-visualization {
  border: 1px solid green;
}

.wrong-visualization {
  border: 1px solid red;
}

.message-box-visible {
  opacity: 1;
  visibility: visible;
}

.message-box-hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 1.5s, opacity 1.5s ease-in-out; /* Delay the visibility transition until after the opacity transition */
}

.message-wrong {
  background: #A75D5D !important;
}

.message-right {
  background: #7DA75D !important;
}

.button-overlay{
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100px;
  z-index: 10000;
}
#vis_button_refresh{
  position: fixed;
  top: 0;
  right: 3.8vw;
  opacity: 0.7;
  width:100px;
  font-size: 10px;
  height: 30px;
  line-height: 5px;
  padding: 5px;
}